.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/red_crown/images/img28883Png.png") top 0px left 50% / cover repeat
    padding-box border-box scroll;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 600px) {
  .root > * {
    grid-column: 4;
  }
}
.frame1 {
  background: none;
  width: 1440px;
  height: 768px;
  display: block;
  overflow: hidden;
}
.img288811 {
  background: url("/plasmic/red_crown/images/img288811.jpg") center center / cover no-repeat;
  width: 1440px;
  height: 960px;
  display: block;
  position: absolute;
  top: -83px;
  left: 0px;
}
.redCrownLogoWhiteTransparent11 {
  background: url("/plasmic/red_crown/images/redCrownLogoWhiteTransparent11.png") 0px -114px / 365px 365px no-repeat;
  width: 365px;
  height: 141px;
  display: block;
  position: absolute;
  top: 32px;
  left: 529px;
}
@media (max-width: 600px) {
  .redCrownLogoWhiteTransparent11 {
    padding-bottom: 0px;
    height: 149px;
    top: 24px;
  }
}
.frame15 {
  background: linear-gradient(
      180deg,
      rgba(16, 0, 60, 1) 0%,
      rgba(45, 2, 162, 0.529) 99%
    )
    0% 0% / 100% 100% no-repeat;
  backdrop-filter: blur(7.199px);
  filter: drop-shadow(4px 4px 3.25px rgba(5, 25, 95, 0.36));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 187px;
  left: 450px;
  overflow: visible;
  flex-direction: column;
  -webkit-backdrop-filter: blur(7.199px);
  border-radius: 17px;
  padding: 40px 57px 84px;
  margin: 0% 0px 4% 0%;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 600px) {
  .frame15 {
    padding-left: 0px;
    left: 531px;
    padding-right: 0px;
    width: 378px;
  }
}
.frame14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 36px);
  height: calc(100% + 36px);
}
.frame14 > :global(.__wab_flex-container) > *,
.frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame14 > :global(.__wab_flex-container) > picture > img,
.frame14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 36px;
}
.frame13 {
  width: 379px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 123px);
  width: calc(100% + 123px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 123px;
}
@media (max-width: 600px) {
  .frame13 {
    width: auto;
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    align-self: center;
    padding: 0px;
  }
}
@media (max-width: 600px) {
  .frame13 > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 82px);
    width: calc(100% + 82px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 600px) {
  .frame13 > :global(.__wab_flex-container) > *,
  .frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .frame13 > :global(.__wab_flex-container) > picture > img,
  .frame13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 82px;
    margin-top: 0px;
  }
}
.svg__eY9Gl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 58px;
  height: 45px;
  display: block;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .svg__eY9Gl {
    width: 58px;
    flex-shrink: 0;
  }
}
.svg__rBcf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 44.947px;
  height: 45px;
  display: block;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .svg__rBcf {
    align-self: baseline;
  }
}
.svg___8LprH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 39px;
  height: 45px;
  display: block;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .svg___8LprH {
    margin-right: 2px;
  }
}
.frame12 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: stretch;
  min-width: 0;
  min-height: 0;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.frame10 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  max-width: 392px;
  min-width: 0;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.group1 {
  width: 55px;
  height: 51px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame9 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__axVXa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 55px;
  height: 51px;
  display: flex;
  background: url("/plasmic/red_crown/images/ellipse2.svg") 0% 0% / 100% 100% repeat;
  align-self: flex-start;
  flex-shrink: 0;
}
.text___6MUd8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  margin-right: 1px;
  min-width: 0;
}
@media (max-width: 600px) {
  .h6__rKtBx {
    padding-bottom: 0px;
  }
}
.button__fhZTy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: var(--token-1Btp6FKXevWC);
  height: 63px;
  backdrop-filter: none;
  font-family: "Roboto Mono";
  font-size: 16px;
  text-align: center;
  align-self: center;
  margin-bottom: 0px;
  margin-right: 0px;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 0px;
}
@media (max-width: 600px) {
  .button__fhZTy:global(.__wab_instance) {
    margin-bottom: 0px;
    height: 71px;
    margin-right: 0px;
    width: 275px;
    margin-left: calc(9px + 14px) !important;
    flex-shrink: 0;
  }
}
.freeBox__rzzTc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
.text__iu28B {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  align-self: flex-end;
  margin-top: 11px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__iu28B {
    height: 14px;
    margin-top: 14px;
  }
}
@media (max-width: 600px) {
  .text__iu28B {
    height: 24px;
    margin-top: 15px;
  }
}
.frame11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 17px);
  width: calc(100% + 17px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 17px;
}
.group2 {
  width: 51px;
  height: 51px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame8 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__ybz4A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 51px;
  height: 51px;
  display: flex;
  background: url("/plasmic/red_crown/images/ellipse1.svg") 0% 0% / 100% 100% repeat;
  align-self: center;
  flex-shrink: 0;
}
.text___9JIv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.h6__nBozZ {
  text-align: center;
  padding-right: 0px;
}
.button__ltwBu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 334px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: var(--token-1Btp6FKXevWC);
  height: 50px;
  font-family: "Roboto Mono";
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ltwBu:global(.__wab_instance) {
    height: 100%;
    margin-bottom: 0px;
    width: 323px;
    flex-shrink: 0;
    min-height: 0;
  }
}
@media (max-width: 600px) {
  .button__ltwBu:global(.__wab_instance) {
    height: 49px;
    width: 286px;
    align-self: center;
    margin-right: 0px;
    flex-shrink: 0;
  }
}
.freeBox__ngHpH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 16px;
  max-width: 100%;
  align-self: center;
  margin-top: 0px;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__ngHpH {
    padding-bottom: 0px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    align-self: center;
    overflow: visible;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__zafL {
  width: auto;
  height: 37px;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  padding-right: 0px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  right: auto;
  bottom: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zafL {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    height: 30px;
    padding-top: 0px;
  }
}
@media (max-width: 600px) {
  .text__zafL {
    height: 26px;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    text-align: center;
  }
}
.freeBox__oa3Js {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__oa3Js {
    margin-top: calc(0px + 10px) !important;
  }
}
@media (max-width: 600px) {
  .freeBox__oa3Js {
    margin-top: calc(0px + 10px) !important;
    padding-top: 6px;
    margin-bottom: 0px;
  }
}
.button__mq3R3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 46px;
  margin-top: 0px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Mono";
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button__mq3R3:global(.__wab_instance) {
    height: 41px;
    top: 12px;
    margin-right: 0px;
    width: 350px;
    left: 20px;
    flex-shrink: 0;
  }
}
.freeBox__pBt5K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__pBt5K {
    padding: 0px;
  }
}
.text__bOsk {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text__bOsk {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    margin-left: 15px;
    min-width: 0;
  }
}
.freeBox__hjat1 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(32px + 10px) !important;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__hjat1 {
    margin-top: calc(28px + 10px) !important;
    padding-top: 6px;
  }
}
.button___9Cm4U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 46px;
  margin-top: 0px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Mono";
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button___9Cm4U:global(.__wab_instance) {
    height: 41px;
    top: 12px;
    margin-right: 0px;
    width: 350px;
    left: 20px;
    flex-shrink: 0;
  }
}
.freeBox__hRn4A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__hRn4A {
    padding: 0px;
  }
}
.text___4YxBo {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text___4YxBo {
    align-self: center;
  }
}
.freeBox__vc5Wy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(32px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__vc5Wy {
    margin-top: calc(28px + 10px) !important;
    padding-top: 6px;
  }
}
.button__npWhs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 46px;
  margin-top: 0px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Mono";
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button__npWhs:global(.__wab_instance) {
    height: 41px;
    top: 12px;
    margin-right: 0px;
    width: 350px;
    left: 20px;
    flex-shrink: 0;
  }
}
.freeBox__h4Vhs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__h4Vhs {
    padding: 0px;
  }
}
.text__dThUj {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text__dThUj {
    align-self: center;
  }
}
.freeBox__uyXuz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(32px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__uyXuz {
    margin-top: calc(16px + 10px) !important;
  }
}
.button__yDNlC:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 46px;
  margin-top: 0px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Mono";
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button__yDNlC:global(.__wab_instance) {
    height: 42px;
    top: 19px;
    width: 348px;
    left: 21px;
    flex-shrink: 0;
  }
}
.freeBox__epqPn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__epqPn {
    padding: 0px;
  }
}
.text__kzjrP {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text__kzjrP {
    align-self: center;
  }
}
.freeBox__fgmi5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(31px + 10px) !important;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__fgmi5 {
    margin-top: calc(27px + 10px) !important;
  }
}
.button__oLxX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 48px;
  margin-top: 0px;
  left: 0px;
  top: 4px;
  font-family: "Roboto Mono";
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button__oLxX:global(.__wab_instance) {
    margin-bottom: 3px;
    height: 39px;
    top: 16px;
    width: 350px;
    left: 19px;
    flex-shrink: 0;
  }
}
.freeBox___312Im {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox___312Im {
    padding: 0px;
  }
}
.text__hcPcF {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text__hcPcF {
    align-self: center;
  }
}
.freeBox__cv98P {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__cv98P {
    padding-top: 10px;
    margin-bottom: 0px;
  }
}
.button__oxZqO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  display: block;
  width: 402px;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: #ff7a9b14;
  height: 49px;
  margin-top: 0px;
  left: 0px;
  top: 0px;
  font-family: "Roboto Mono";
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .button__oxZqO:global(.__wab_instance) {
    height: 45px;
    top: 16px;
    margin-right: 0px;
    width: 352px;
    left: 19px;
    flex-shrink: 0;
  }
}
.freeBox__ieXWr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__ieXWr {
    height: auto;
    padding: 0px;
  }
}
.text__fPL {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: none;
  font-size: 16px;
}
@media (max-width: 600px) {
  .text__fPL {
    align-self: center;
  }
}
