.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  justify-self: flex-start;
  height: auto;
  position: relative;
  flex-shrink: 1;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
.columns__veTgx {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  flex-grow: 0;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  border-bottom: 5px solid var(--token-NjDNfYk4HqZ6yY);
}
.columns__veTgx > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__veTgx > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__veTgx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__veTgx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 600px) {
  .columns__veTgx {
    max-width: 100%;
    width: 100%;
  }
}
.column__d0R0V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__d0R0V {
    padding-bottom: 0px;
  }
}
.freeBox__yvE4L {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__yvE4L {
    display: flex;
  }
}
.img__nPkfM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  width: 200px;
  flex-shrink: 0;
}
.img__nPkfM > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__nPkfM {
    max-width: 200px;
  }
}
@media (max-width: 600px) {
  .img__nPkfM {
    display: none !important;
  }
}
.freeBox__mKhId {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 335px;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 4px;
}
.button___9Ttwm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  opacity: 1;
  margin-right: 0px;
  width: 110px;
  margin-left: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___9Ttwm:global(.__wab_instance) {
    display: flex;
  }
}
.text___48Lcx {
  padding-bottom: 0px;
  font-size: 10px;
}
.svg__sNZcC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xbu3N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__w5A:global(.__wab_instance) {
  max-width: 110px;
  position: relative;
  width: 115px;
  margin-left: 5px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__w5A:global(.__wab_instance) {
    display: flex;
  }
}
.text__mW8A4 {
  font-size: 10px;
}
.svg___7VbWq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ahWdd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wi7Et:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 5px;
  width: 110px;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wi7Et:global(.__wab_instance) {
    display: flex;
  }
}
.text__iIrsb {
  font-size: 10px;
}
.svg__jq7De {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___54Xr9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__skwNt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__skwNt {
    width: auto;
    margin-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .freeBox__skwNt {
    display: none;
  }
}
.img__fMeBh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  flex-shrink: 0;
}
.img__fMeBh > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fMeBh {
    max-width: 200px;
  }
}
.freeBox___09CmM {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 70px 8px 50px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___09CmM {
    display: flex;
  }
}
.button__oanG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  opacity: 1;
  margin-right: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__oanG:global(.__wab_instance) {
    display: flex;
  }
}
.text__dhQbV {
  padding-bottom: 0px;
}
.svg___89Ezr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__p4JA2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gkNsp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__gkNsp:global(.__wab_instance) {
    display: flex;
  }
}
.svg__bvPlG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__l3Dpo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hiGmQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__hiGmQ:global(.__wab_instance) {
    display: flex;
  }
}
.svg__qtm7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0LjzT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__aVpd8 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__aVpd8 {
    display: flex;
  }
}
@media (max-width: 600px) {
  .freeBox__aVpd8 {
    display: none;
  }
}
.column__vz3Mj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__vz3Mj {
    display: none;
  }
}
.columns__nFjW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: none;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 23px 8px 8px;
}
.columns__nFjW > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nFjW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nFjW > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eaE5D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__fI2Qe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__fI2Qe > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fI2Qe > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fI2Qe > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__fI2Qe > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fI2Qe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fI2Qe > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__e8N3X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__e8N3X {
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.button__tc2QR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tc2QR:global(.__wab_instance) {
    display: none;
  }
}
.text__fr4ND {
  padding-bottom: 0px;
  text-align: justify;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
.svg__xamed {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aerjc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__oTiN8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__oTiN8 {
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.button__reYmM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__reYmM:global(.__wab_instance) {
    display: none;
  }
}
.text__iUoCh {
  padding-bottom: 0px;
}
.svg__pc2S1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4Pzd5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__lzRga {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__lzRga {
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.button__pm01N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__pm01N:global(.__wab_instance) {
    display: none;
  }
}
.svg__huMgv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eQaYn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__lrGcm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__lrGcm {
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.button__sl9AF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__sl9AF:global(.__wab_instance) {
    display: none;
  }
}
.svg___9Abcm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7RleA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
