.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      var(--token-z9vETZrWQMocmb),
      var(--token-z9vETZrWQMocmb)
    ),
    #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 600px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___1AqDg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 200%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.pageHeader:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  height: 162px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .pageHeader:global(.__wab_instance) {
    display: none;
  }
}
.navBar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navBar:global(.__wab_instance):global(.__wab_instance) {
    display: flex;
  }
}
.section__x3K9D {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0;
}
.freeBox__etw6U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 778px;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.section__aNi3V {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  height: 400vh;
  overflow: auto;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 0px 0;
}
.section__aNi3V > * {
  grid-column: 4;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 26px;
  min-width: 0;
}
.section___6UI7 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  overflow: auto;
  height: 718px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section___6UI7 > * {
  grid-column: 4;
}
.freeBox__fWEdo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  margin-top: 21px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox___9GnCx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 6px;
  padding: 8px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 349px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  height: 446px;
  flex-shrink: 0;
}
.freeBox__gDwp7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.img___9G7Hs {
  object-fit: cover;
  max-width: 100%;
  width: 128.37%;
  height: 428px;
  flex-shrink: 0;
}
.img___9G7Hs > picture > img {
  object-fit: cover;
}
.freeBox__mBlir {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__fGo76 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 443px;
  min-width: 0;
  flex-shrink: 0;
}
.img__fGo76 > picture > img {
  object-fit: cover;
}
.freeBox__kbrdd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mTMcN {
  object-fit: cover;
  max-width: 100%;
  height: 434px;
  flex-shrink: 0;
}
.img__mTMcN > picture > img {
  object-fit: cover;
}
.section__m3HBj {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  overflow: visible;
  height: 100%;
  align-self: center;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section__m3HBj > * {
  grid-column: 4;
}
.text__jzziC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  font-size: 16px;
  min-width: 0;
}
.pageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: -24px;
  bottom: 0;
  width: 1464px;
  height: 143px;
  flex-shrink: 0;
}
.text__ku6F7 {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: -5;
  right: 0;
  bottom: 0;
}
