.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-z9vETZrWQMocmb);
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 600px) {
  .root > * {
    grid-column: 4;
  }
}
.analytics:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.pageHeader:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 165px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .pageHeader:global(.__wab_instance) {
    display: none;
  }
}
@media (max-width: 600px) {
  .pageHeader:global(.__wab_instance) {
    display: none;
  }
}
.section {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0;
}
.navBar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .navBar:global(.__wab_instance):global(.__wab_instance) {
    display: flex;
  }
}
@media (max-width: 600px) {
  .navBar:global(.__wab_instance):global(.__wab_instance) {
    display: flex;
  }
}
.mainContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 160vh;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mainContent {
    top: auto;
    left: auto;
    right: auto;
  }
}
@media (max-width: 600px) {
  .mainContent {
    top: auto;
    left: auto;
    right: auto;
    height: 160vh;
  }
}
.text__ocKw7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  font-size: 80px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ocKw7 {
    margin-bottom: 15px;
    margin-top: 33px;
  }
}
@media (max-width: 600px) {
  .text__ocKw7 {
    margin-bottom: 13px;
  }
}
.text__qDbN8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__qDbN8 {
    margin-bottom: 91px;
    margin-top: 33px;
  }
}
.freeBox___80Vy0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox___80Vy0 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.freeBox__xctN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__f1Hmv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__kT98B {
  object-fit: cover;
  max-width: 100%;
}
.img__kT98B > picture > img {
  object-fit: cover;
}
.freeBox__tDpp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__xxq0J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__xKS1 {
  object-fit: cover;
  max-width: 100%;
}
.img__xKS1 > picture > img {
  object-fit: cover;
}
.freeBox__mIu13 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__dBmZs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__a1EIu {
  object-fit: cover;
  max-width: 100%;
}
.img__a1EIu > picture > img {
  object-fit: cover;
}
.freeBox__pv0Yo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tilt__byOl2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__dqR58 {
  object-fit: cover;
  max-width: 100%;
}
.img__dqR58 > picture > img {
  object-fit: cover;
}
.freeBox__ttTv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__ttTv5 {
    padding-right: 0px;
  }
}
.tilt__omVA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__u7QWj {
  object-fit: cover;
  max-width: 100%;
}
.img__u7QWj > picture > img {
  object-fit: cover;
}
.pageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  right: -24px;
  bottom: 0;
  width: 1464px;
  height: 143px;
  flex-shrink: 0;
}
