.page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: url("/plasmic/red_crown/images/rc8Jpg.jpg") top 50% left 50% / cover repeat;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.analytics:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section__tX9A0 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  filter: none;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 16px 0px var(--token-XYu6sfL27);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-backdrop-filter: blur(10px);
  padding: 8px 0;
}
.section__tX9A0 > * {
  grid-column: 4;
}
.img__pMyW {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow: none;
  backdrop-filter: none;
  flex-shrink: 0;
  flex-grow: 0;
  width: 512px;
  margin-bottom: 0px;
  filter: drop-shadow(13px 14px 10px #000000);
  -webkit-backdrop-filter: none;
}
.img__pMyW > picture > img {
  object-fit: contain;
}
.img__l1Nou {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  box-shadow: none;
  backdrop-filter: none;
  flex-shrink: 0;
  flex-grow: 0;
  width: 512px;
  margin-bottom: 0px;
  display: none !important;
  -webkit-backdrop-filter: none;
}
.img__l1Nou > picture > img {
  object-fit: contain;
}
.mainContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mainContent {
    top: auto;
    left: auto;
    right: auto;
  }
}
@media (max-width: 600px) {
  .mainContent {
    top: auto;
    left: auto;
    right: auto;
    height: 100%;
    min-height: 0;
  }
}
.freeBox__fV9Y {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fV9Y {
    display: flex;
  }
}
@media (max-width: 600px) {
  .freeBox__fV9Y {
    display: flex;
  }
}
.columns__pct9J {
  display: flex;
  position: relative;
  width: 100%;
  height: 89px;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__pct9J > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__pct9J > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__pct9J > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pct9J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pct9J > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c3Lv {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__c3Lv {
    display: none;
  }
}
.column__l6Kt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__l6Kt {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.button___8WQrs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #e2e2e2 0%, #8800ff 100%);
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button___8WQrs:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__uUsXx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__uUsXx {
    height: 54px;
    padding-right: 0px;
  }
}
.svg__ztIEg {
  position: relative;
  object-fit: cover;
  max-width: 9.32%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  width: 100%;
  min-width: 0;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__ztIEg {
    max-width: 168.18%;
    width: auto;
    height: 38px;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    right: auto;
    bottom: auto;
    align-self: center;
    margin: 0px 10px 0px 0px;
  }
}
.text___78A1R {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
@media (max-width: 600px) {
  .text___78A1R {
    display: none;
  }
}
.svg__iK46P {
  position: relative;
  object-fit: cover;
  max-width: 9.32%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  width: 100%;
  margin-left: 11px;
  min-width: 0;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__iK46P {
    display: none;
  }
}
.column__mPZxe {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__mPZxe {
    display: none;
  }
}
.columns__aAdsq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__aAdsq > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__aAdsq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__aAdsq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__njHmc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__njHmc {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.button__hUTwN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #c39376 0%, #c141c8 100%);
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button__hUTwN:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__xMtJt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
.svg___7GkJa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  height: 1em;
}
@media (max-width: 600px) {
  .svg___7GkJa {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin: 0px;
  }
}
.text__uDNrD {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 600px) {
  .text__uDNrD {
    display: none;
  }
}
.svg__odUje {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 0px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  margin-left: 10px;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__odUje {
    display: none;
  }
}
.columns___1Ip0E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___1Ip0E > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1Ip0E > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___1Ip0E > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___1Ip0E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___1Ip0E > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lsRiu {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__lsRiu {
    display: none;
  }
}
.column__nOdTa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__icgj5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(
    205deg,
    #040404 0%,
    #930303 12%,
    #a5a5a5 48%,
    #0019ad 89%,
    #000000 96%
  );
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button__icgj5:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__cDdZf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__cDdZf {
    padding-left: 0px;
  }
}
.svg___79U8I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  height: 32px;
  margin: 0px 0px 10px 10px;
}
.text__q8Gxg {
  width: 100%;
  height: 25px;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 600px) {
  .text__q8Gxg {
    display: none;
  }
}
.svg__mf8Fb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  height: 31px;
  margin: 0px 0px 0px 3px;
}
@media (max-width: 600px) {
  .svg__mf8Fb {
    display: none;
  }
}
.column___6TDif {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .column___6TDif {
    display: none;
  }
}
.freeBox__obXOo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__obXOo {
    display: none;
  }
}
@media (max-width: 600px) {
  .freeBox__obXOo {
    display: none;
  }
}
.columns__dUwKp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__dUwKp > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dUwKp > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dUwKp > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dUwKp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dUwKp > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2YW6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___6SyjL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #e2e2e2 0%, #8800ff 100%);
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button___6SyjL:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox___4K8Qc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox___4K8Qc {
    height: 54px;
    padding-right: 0px;
  }
}
.svg__wNRyQ {
  position: relative;
  object-fit: cover;
  max-width: 9.32%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  width: 100%;
  min-width: 0;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__wNRyQ {
    max-width: 168.18%;
    width: 100%;
    min-width: 0;
  }
}
.text__pxvUg {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
@media (max-width: 600px) {
  .text__pxvUg {
    display: none;
  }
}
.svg__hG3M {
  position: relative;
  object-fit: cover;
  max-width: 9.32%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  width: 100%;
  margin-left: 11px;
  min-width: 0;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__hG3M {
    display: none;
  }
}
.column__yPhQc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__yPhQc {
    display: none;
  }
}
.button__fbTmP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #c39376 0%, #c141c8 100%);
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button__fbTmP:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox__rTuR8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
.svg__gvuh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 10px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  height: 1em;
}
@media (max-width: 600px) {
  .svg__gvuh {
    margin-right: 0px;
  }
}
.text___1M4Q9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 600px) {
  .text___1M4Q9 {
    display: none;
  }
}
.svg__gl4Rx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 0px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  margin-left: 10px;
  height: 1em;
}
@media (max-width: 600px) {
  .svg__gl4Rx {
    display: none;
  }
}
.column__m4UdM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .column__m4UdM {
    display: none;
  }
}
.button__kjE1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(
    205deg,
    #040404 0%,
    #930303 12%,
    #a5a5a5 48%,
    #0019ad 89%,
    #000000 96%
  );
  height: 61px;
  backdrop-filter: drop-shadow(10px 10px 10px #000000);
  align-self: flex-start;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: drop-shadow(10px 10px 10px #000000);
}
@media (max-width: 600px) {
  .button__kjE1:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox__vOXvC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__vOXvC {
    padding-left: 0px;
  }
}
.svg__e3RWk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 0px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  margin-left: 10px;
  height: 1em;
}
.text___7HHfx {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
@media (max-width: 600px) {
  .text___7HHfx {
    display: none;
  }
}
.svg___62D5M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 7px;
  margin-right: 0px;
  pointer-events: none;
  filter: drop-shadow(1px 4px 10px #000000);
  margin-left: 10px;
  height: 1em;
}
@media (max-width: 600px) {
  .svg___62D5M {
    display: none;
  }
}
.section___6AL5Z {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  height: 60vh;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 3px 0 8px;
}
.section___6AL5Z > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .section___6AL5Z > * {
    grid-column: 4;
  }
}
@media (max-width: 600px) {
  .section___6AL5Z > * {
    grid-column: 4;
  }
}
.freeBox__fuy84 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___2SoSp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #f656ff 0%, #dfbe58 100%);
  height: 61px;
  backdrop-filter: none;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: none;
}
.freeBox___4W6NU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
.text___9NbI {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
.freeBox__mvs44 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.button__havMe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #e75555 0%, #585eb5 100%);
  height: 61px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__qhJGt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ucd3R {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 3px 5px #000000);
  min-width: 0;
}
.freeBox__bMcq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__sKmNu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #ff7ccb 0%, #e9ef93 100%);
  height: 61px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___7Dg4F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__czLr {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 3px 5px #000000);
  padding-right: 0px;
  min-width: 0;
}
.button__auDzz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #cfd76b 0%, #e78787 100%);
  height: 61px;
  margin-top: 22px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zgwEs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 600px) {
  .freeBox__zgwEs {
    padding: 0px;
  }
}
.text__x20Kn {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
}
@media (max-width: 600px) {
  .text__x20Kn {
    align-self: center;
  }
}
.freeBox___6NsGi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___45BXc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #fd7039 0%, #f9ff4d 100%);
  height: 61px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__rMIa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__uePiK {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
.freeBox__miNx9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__k6Yp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #dc5050 0%, #d20c0c 100%);
  height: 61px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zb4Zk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___3Uqm1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
.freeBox__ivJxB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__qfqoE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  width: 100%;
  color: var(--token-NjDNfYk4HqZ6yY);
  background: linear-gradient(0deg, #5058dc 0%, #d20c0c 100%);
  height: 61px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__d06N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___549BO {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7qR96FCRrF-J3o);
  font-weight: 700;
  filter: drop-shadow(5px 5px 5px #000000);
  min-width: 0;
}
